*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,body{
	background-color:#fff ;
	color: #000;
	text-rendering: optimizeLegibility;
	font-size: 16px;
	font-family: 'Work Sans','Arial',sans-serif;
	font-weight: 300;
}
.col {
	display: block;
	margin: 1% 0 2% 1.6%;
}
.row {
	display: flex;
	margin-top: 0.5%;
	justify-content: space-between;

}


header{
	background-image:linear-gradient(rgba(0,0,0,.2),rgb(0,0,0)) ,url(header.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	position: relative;
}
.header-box{
	position: absolute; 
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
h1{
	font-size: 500%;
	color: #fff;
	font-weight: 400;
	margin-bottom: 30px;
	text-align: center;
}
h2{
	font-size: 200%;
	color: #fff;
	font-weight: 400;
	text-align: center;
}

}
.header-text-box{
	margin-bottom: 100px;
}
.btn{
	text-decoration: none;
	padding: 10px 30px;
	border-radius: 200px;
	text-align: center;
}
.btn-full{
	background-color: #ed07b7;
	color: #fff;
	text-align: center;
}
.main-nav{
	float: right;
	margin-top: 30px;
}
.main-nav li{
	display: inline-block;
	margin-right: 40px;
}
.main-nav li a{
	text-decoration: none;
	color: #000 ;
}
.golf-image{
	width: 500px;
	float: right;

}
.about-para{
	
	font-size: 20px;
	color: #fff;
	font-weight: 400;
}
.about-heading{
	color: #000;
	font-size: 250%;
	font-weight: 500;
	margin-bottom: 50px;
	text-align: left;
}
.about-box{
	margin-top: 120px;
}
#testimonial-section{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}
.testimonial-heading{
	margin: 30px 0px;
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.testimonial-box-container{ 
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;

}
.testimonial-box{
	width: 500px;
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
	background-color: #d8d8d8;
	padding: 20px;
	margin: 15px;
	cursor: pointer;
}
.profile-img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 10px;

}
.profile-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.profile{
	display: flex;
	align-items: center;
}
.name-user{
	display: flex;
	flex-direction: coloumn;
}
.name-user strong{
	color: #3d3d3d;
	font-size: 1.1rem;

}
.reviews{
	color: #f9d71c;
}
.box-top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}
.client-comment p{
	font-size: 0.9rem;
	color: #4b4b4b;
}
.contact{
	font-size: 1.1rem;
	font-weight: 500;
}
label{
	display: inline-block;
	width: 240px;

}
footer{
	background-color: #808080;
	padding: 50px;
	font-size: 80%;
	font-weight: 500;
	color: #000;
}
.footer-nav li{
	list-style: none;
	display: inline-block;
	margin-right: 20px;
	font-weight: 500;

}
.social-links li{
	list-style: none;
	display: inline-block;
	margin-right: 20px;
	font-weight: 500;
	float: right;
}
.service-col{
	flex-basis: 32%;
	border-radius: 10px;
	margin-bottom: 30px;
	position: relative;
	overflow: h;
}
.img{
	width: 250px;
	height: 500px;
	border-radius: 10%;
	overflow: hidden;
	margin-right: 10px;
	

}
.img img{

	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	opacity: 0.58;
}
.img:hover{
	
	color: #fff;
	box-shadow: 0 0 15px rgba(0, 0, 0, 1);
	transform: scale(1.1);
	z-index: 1;
	border-radius: 25px;
}
.about-img{
	width: 500px;
	height:400px;
	border-radius: 20%;
	overflow: hidden;
	margin-right: 30px;
	box-shadow: 1px 1px 20px rgba(0,0,0,0.9);
	transition: 0.9s;
	

}
.about-img img{

	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.overlay {
    outline: 100px solid rgba(0,0,0,0) ;
    outline-offset: -100px;
    overflow: hidden;
    position: relative;
    height: 500px;
    width: 250px;

}
.text{
	position: absolute; 
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;

}
.memberships{
	text-align: center;
	background-color: #fff;
}

.platinum-price{
	width: 30%;
	height: 300px;
	background: #808080;
	float: left;
	margin-top: 2%;
	box-shadow: 1px 1px 20px rgba(0,0,0,0.7);
	transition: 0.9s;
	border-radius: 20%;
}
.platinum-price:hover{
	background: #da4357;
	color: #fff;
	box-shadow: 0 0 15px rgba(0, 0, 0, 1);
	transform: scale(1.1);
	z-index: 1;
	border-radius: 25px;
}
.sticky-nav{
	position: fixed;
	left: 0;
	top: 0;
	background-color:rgba(255, 255, 255, 0.3);
	width: 100%;
	height: 70px;
	box-shadow: 0 2px 2px #efefef;
	
}
